div {
  background-color: orange;
  width: 100px;
  height: 100px;
  transition-property: width;
  transition-duration: 5s;
  transition-delay: 5s;
  animation: colorChange 2s linear;
}

@keyframes colorChange {
  0% {
    width: 0%;
    background-color: orange;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: brown;
  }
}
