* {
  background-color: #27f591;
  font-style: italic;
}

nav {
  background-color: darkgrey;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
}

legend {
  font-weight: bold;
  font-size: 20px;
  color: brown;
  text-transform: uppercase;
  text-align: center;
}
