* {
  font-style: italic;
}

nav ul {
  list-style-type: none;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
}

legend {
  font-weight: bold;
  font-size: 20px;
  color: brown;
  text-transform: uppercase;
}
